<footer id="footer2">


    <div id="row2" class="row relative">
    {#<div class="wrapper container">#}

        {#<nav id="navigare">#}
            {#<ul id="ul" class="nav navbar-nav">#}
                {#<li id="li">#}
                    {#<a id="a" href=/ro/hartasite/joburi" class="text-muted">#}
                        {#<small>Site map</small>#}
                    {#</a>#}
                {#</li>#}
                {#<li id="li">#}
                    {#<a id="a" href="http://support.bestjobs.eu/hc/ro" target="_blank" class="text-muted">#}
                        {#<small>Suport</small>#}
                    {#</a>#}
                {#</li>#}
                {#<li id="li">#}
                    {#<a id="a" href="/ro/legal/terms" class="text-muted">#}
                        {#<small>Conditii</small>#}
                    {#</a>#}
                {#</li>#}
                {#<li id="li">#}
                    {#<a id="a" href="/ro/legal/confidentiality" class="text-muted">#}
                        {#<small>Confidentialitate</small>#}
                    {#</a>#}
                {#</li>#}
                {#<li id="li">#}
                    {#<a id="a" href="/ro/company/offer#About" class="text-muted"#}
                       {#onclick="$('.tab-link[href=\'#About\']', '#offerTypes').click()">#}
                        {#<small>Despre noi</small>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a id="a" href="http://blog.bestjobs.eu/?lang=ro" target="_blank" class="text-muted">#}
                        {#<small>Blog</small>#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}


        {#</nav>#}
    {#</div>#}

        <div id="textfooter" class="col-sm-5 col-sm-8 col-sm-10 col-xs-12 text-lg-right text-center">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/ro/hartasite/joburi" class="text-muted">
                        <small>Site map</small>
                    </a>
                </li>
                <li>
                    <a href="http://support.bestjobs.eu/hc/ro" target="_blank" class="text-muted"><small>Suport</small></a>
                </li>
                <li>
                    <a href="/ro/legal/terms" class="text-muted">
                        <small>Conditii</small>
                    </a>
                </li>
                <li>
                    <a href="/ro/legal/confidentiality" class="text-muted">
                        <small>Confidentialitate</small>
                    </a>
                </li>
                <li>
                    <a href="/ro/company/offer#About" class="text-muted" onclick="$('.tab-link[href=\'#About\']', '#offerTypes').click()">
                        <small>Despre noi</small>
                    </a>
                </li>
                <li>
                    <a href="http://blog.bestjobs.eu/?lang=ro" target="_blank" class="text-muted">
                        <small>Blog</small>
                    </a>
                </li>
            </ul>
            <div style="clear: both"></div>
        </div>

        <div class="col-md-1 col-sm-2 col-xs-12 col-lg-1 text-lg-right text-center lang-links" id="lang-selector" data-locale="ro">

        {% set langlist = ['ro', 'hu', 'it', 'de', 'fr', 'en', 'sr'] %}
        <div class="dropup" id="dropup">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img id="ro" src="https://ss.bestjobs.eu/img/flags/ro.png" class="flag">
                <small>RO</small>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                {% for lang in langlist %}
                    <a class="dropdown-item" href="https://www.bestjobs.eu/{{ lang }}/landing/aplicanti-garantati" id="dropdrop">
                        <img id="limbi" src="https://ss.bestjobs.eu/img/flags/{{ lang }}.png" class="flag">
                        <small>{{ lang|upper }}</small>
                    </a><br>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-12 text-lg-right text-center">
            <div class="social">
                <Form name="socialM" Method="Post">

                    <a href="http://twitter.com/BestJobsRo" class="btn btn-twitter navbar-btn"
                       data-toggle="tooltip" title="" data-original-title="Urmareste-ne pe Twitter"
                       id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-twitter"></i>
                    </a>
                    <a href="www.youtube.com/user/BestJobsRecrutare" target="_blank"
                       class="btn btn-youtube navbar-btn" data-toggle="tooltip" title=""
                       data-original-title="Urmareste-ne pe YouTube" id="id_social_media_links">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="www.facebook.com" id="facebook" target="_blank"
                       class="btn btn-facebook navbar-btn" data-toggle="tooltip" title=""
                       data-original-title="Urmareste-ne pe Facebook" id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-facebook-square"></i>
                    </a>
                    <a href="wwww.linkedin.com" id="linkedin" target="_blank"
                       class="btn btn-linkedin navbar-btn" data-toggle="tooltip" title=""
                       data-original-title="Urmareste-ne pe Linkedin" id="id_social_media_links">
                        <i class="fab fa-fw fa-lg fa-linkedin"></i>
                    </a>
                </Form>
            </div>

        </div>

    </div>
</footer>