<footer id="footer2">

    <div class="wrapper container">

        <nav id="navigare">
            <ul id="ul" class="nav navbar-nav">
                <li id="li">
                    <a id="a" href=/ro/hartasite/joburi" class="text-muted">
                        <small>Site map</small>
                    </a>
                </li>
                <li id="li">
                    <a id="a" href="http://support.bestjobs.eu/hc/ro" target="_blank" class="text-muted">
                        <small>Suport</small>
                    </a>
                </li>
                <li id="li">
                    <a id="a" href="/ro/legal/terms" class="text-muted">
                        <small>Conditii</small>
                    </a>
                </li>
                <li id="li">
                    <a id="a" href="/ro/legal/confidentiality" class="text-muted">
                        <small>Confidentialitate</small>
                    </a>
                </li>
                <li id="li">
                    <a id="a" href="/ro/company/offer#About" class="text-muted"
                       onclick="$('.tab-link[href=\'#About\']', '#offerTypes').click()">
                        <small>Despre noi</small>
                    </a>
                </li>
                <li>
                    <a id="a" href="http://blog.bestjobs.eu/?lang=ro" target="_blank" class="text-muted">
                        <small>Blog</small>
                    </a>
                </li>
            </ul>


        </nav>

    </div>

    <div class="btn-group dropup">
        <a href="#" class="btn navbar-btn dropdown-toggle text-muted" data-toggle="dropdown">
            <img src="https://ss.bestjobs.eu/img/flags/ro.png" class="flag">
            <small>RO</small>
            <span class="caret"></span>
        </a>
        <div class="dropdown">
            <ul class="dropdown-content">
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/en/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="engleză">
                        <img src="https://ss.bestjobs.eu/img/flags/en.png" class="flag">
                        <small>EN</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/pl/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="poloneză">
                        <img src="https://ss.bestjobs.eu/img/flags/pl.png" class="flag">
                        <small>PL</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/hu/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="maghiară">
                        <img src="https://ss.bestjobs.eu/img/flags/hu.png" class="flag">
                        <small>HU</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/it/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="italiană">
                        <img src="https://ss.bestjobs.eu/img/flags/it.png" class="flag">
                        <small>IT</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/de/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="germană">
                        <img src="https://ss.bestjobs.eu/img/flags/de.png" class="flag">
                        <small>DE</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/fr/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="franceză">
                        <img src="https://ss.bestjobs.eu/img/flags/fr.png" class="flag">
                        <small>FR</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/sr/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="sârbă">
                        <img src="https://ss.bestjobs.eu/img/flags/sr.png" class="flag">
                        <small>SR</small>
                    </a>
                </li>
                <li class="text-lg-left text-center">
                    <a href="https://www.bestjobs.eu/es/landing/aplicanti-garantati" data-toggle="tooltip"
                       data-placement="left" title="" data-original-title="spaniolă">
                        <img src="https://ss.bestjobs.eu/img/flags/es.png" class="flag">
                        <small>ES</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="social">
        <Form name="socialM" Method="Post">

            <a href="http://twitter.com/BestJobsRo" class="btn btn-twitter navbar-btn"
               data-toggle="tooltip" title="" data-original-title="Urmareste-ne pe Twitter"
               id="id_social_media_links">
                <i class="fab fa-fw fa-lg fa-twitter"></i>
            </a>
            <a href="www.youtube.com/user/BestJobsRecrutare" target="_blank"
               class="btn btn-youtube navbar-btn" data-toggle="tooltip" title=""
               data-original-title="Urmareste-ne pe YouTube" id="id_social_media_links">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="www.facebook.com" id="facebook" target="_blank"
               class="btn btn-facebook navbar-btn" data-toggle="tooltip" title=""
               data-original-title="Urmareste-ne pe Facebook" id="id_social_media_links">
                <i class="fab fa-fw fa-lg fa-facebook-square"></i>
            </a>
            <a href="wwww.linkedin.com" id="linkedin" target="_blank"
               class="btn btn-linkedin navbar-btn" data-toggle="tooltip" title=""
               data-original-title="Urmareste-ne pe Linkedin" id="id_social_media_links">
                <i class="fab fa-fw fa-lg fa-linkedin"></i>
            </a>
        </Form>
    </div>


</footer>