<header>
<div id = "header" class = "panel header">

            <div id ="logo" class="logo">
                <img src="https://ss.bestjobs.eu/img/bj-logo-blue.png" alt="bestjobs" class="img-responsive" id = "bestjobs">
            </div>
            <div id="serviciu-clienti" class=="navbar-right">

                <a style="font-size:1vw"  href="tel:(+40) 31 710 4224" id = "serviciu">
                    Serviciu clienti: (+40) 31 710 4224
                </a>
            </div>
        </div>


                    <div id = "body" class = "panel body" >
                        <div class = "blue">
                            <img src="https://ss.bestjobs.eu/img/landing/ppa/main_hero_img_guy.png" class="img-responsive hidden-xs hidden-sm p-l-lg p-r-lg p-t-lg" id = "om">
                            <div class = "top">

                                <br><br>
                                <h1>{{title}}</h1>

                                <br><br>
                                <p>Alege un anunt cu aplicanti garantati! Poti alege numarul de aplicanti,<br> iar anuntul
                                    ramane valabil pe site pana ce acesta va fi atins.</p>

                                <br>
                                <Form name="BestJobs" Method = "Post" >
                                    <Input Type = "submit" value = "Creeaza-ti cont" name = "creare" id = "creareCont">
                                </Form>
                            </div>

                        </div>
                    </div>


</header>