{% extends 'base2.html.twig' %}
{% block body %}
<div id="Main" class="container" >
    <Form name ="MainForm" Method ="POST">





        <div id = "header" class = "panel header">

            <div id ="logo" class="logo">
                <img src="https://ss.bestjobs.eu/img/bj-logo-blue.png" alt="bestjobs" class="img-responsive" id = "bestjobs">
            </div>
            <div id="serviciu-clienti" class=="navbar-right">

                <a style="font-size:1vw"  href="tel:(+40) 31 710 4224" id = "serviciu">
                    Serviciu clienti: (+40) 31 710 4224
                </a>
            </div>
        </div>




        <div id = "panelmare" class = "panel panel-default">

                    <div id = "body" class = "panel body" >
                        <div class = "blue">
                            <img src="https://ss.bestjobs.eu/img/landing/ppa/main_hero_img_guy.png" class="img-responsive hidden-xs hidden-sm p-l-lg p-r-lg p-t-lg" id = "om">
                            <div class = "top">

                                <br><br>
                                <h1>{{title}}</h1>

                                <br><br>
                                <p>Alege un anunt cu aplicanti garantati! Poti alege numarul de aplicanti,<br> iar anuntul
                                    ramane valabil pe site pana ce acesta va fi atins.</p>

                                <br>
                                <Form name="BestJobs" Method = "Post" >
                                    <Input Type = "submit" value = "Creeaza-ti cont" name = "creare" id = "creareCont">
                                </Form>
                            </div>

                        </div>






                <div id = "panel-poze" class = "container-slides-core">

                                <div  id = "scroll" class="scroll-down-core content-center hidden-xs hidden-sm">
                                    <i class="fas fa-arrow-down" style="align-content: center"></i>
                                </div>



                            <div id = "cutie-sus" class = "cutie1">

                                        <div id = "item" class="item">
                                            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants1.png"  id = "img1">
                                            <h1>Ai aplicanti garantati</h1>
                                            <p>
                                                Iti garantam numarul ales de aplicanti si  platesti intre 1 si 7 credite/aplicant,
                                                in functie de job.  Poti alege 10, 20, 30, 50, 100 sau 200 aplicanti garantati.
                                            </p>
                                        </div>





                                        <div id = "item2" class = "item2">
                                            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants2.png" class="img-responsive" id="img2" >
                                            <h1>Adauga oricate locatii</h1>
                                            <p>
                                                Fara restrictii - recrutare din toate orasele de interes
                                            </p>
                                        </div>






                                        <div id = "item3" class = "item3">
                                            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants4.png" class="img-responsive" id="img3">
                                            <h1>Anuntul publicat are valabilitate nelimitata</h1>
                                            <p>
                                                Anuntul ramane activ pe site pana atinge numarul ales de aplicanti, indiferent de perioada.
                                            </p>
                                        </div>






                                        <div id = "item4" class = "item4">
                                            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants5.png" class="img-responsive" id ="img4">
                                            <h1>Fara costuri suplimentare</h1>
                                            <p>
                                                Poti vizualiza datele de contact ale candidatilor fara costuri suplimentare,
                                                din momentul in care au aplicat la anuntul tau.
                                            </p>
                                        </div>





                                        <div id = "item5" class = "item5">
                                            <img src="https://ss.bestjobs.eu/img/landing/ppa/ic_guaranteed_aplicants6.png" class="img-responsive" id="img5">
                                            <h1>Primesti gratuit promovare in Social Media</h1>
                                            <p>In cazul in care anuntul nu atinge numarul ales de aplicanti in prima saptamana,
                                                acesta beneficiaza de promovare gratuita in Social Media.
                                            </p>
                                        </div>

                            </div>








                            <div id = "cutie-jos" class = "cutie2">

                                <div id="item6" class = "item6">
                                    <h1>Alege plata pe aplicanti</h1>
                                    <img src="https://ss.bestjobs.eu/img/landing/ppa/bottom_headline_border.png" class="m-b-sm"id="img6">

                                    <p>Creeaza-ti cont de angajator si posteaza anuntul tau cu plata pe aplicanti.</p>
                                    <Form name="BestJobs2" Method = "Post" >
                                        <Input Type = "submit" value = "Creeaza-ti cont" name = "creare2" id = "creareCont2">
                                    </Form>
                                </div>

                            </div>




                        </div>

                        <footer>

                            <div class="wrapper">

                                <nav>
                                    <ul class ="nav navbar-nav">
                                        <li>
                                            <a href=/ro/hartasite/joburi" class="text-muted">
                                                <small>Site map</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://support.bestjobs.eu/hc/ro" target="_blank" class="text-muted"><small>Suport</small></a>
                                        </li>
                                        <li>
                                            <a href="/ro/legal/terms" class="text-muted">
                                                <small>Conditii</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ro/legal/confidentiality" class="text-muted">
                                                <small>Confidentialitate</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ro/company/offer#About" class="text-muted" onclick="$('.tab-link[href=\'#About\']', '#offerTypes').click()">
                                                <small>Despre noi</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://blog.bestjobs.eu/?lang=ro" target="_blank" class="text-muted">
                                                <small>Blog</small>
                                            </a>
                                        </li>
                                    </ul>



                                </nav>

                            </div>

                                <div class="btn-group dropup">
                                    <a href="#" class="btn navbar-btn dropdown-toggle text-muted" data-toggle="dropdown">
                                        <img src="https://ss.bestjobs.eu/img/flags/ro.png" class="flag" >
                                        <small>RO</small>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="dropdown">
                                    <ul class="dropdown-content">
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/en/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="engleză">
                                                <img src="https://ss.bestjobs.eu/img/flags/en.png" class="flag">
                                                <small>EN</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/pl/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="poloneză">
                                                <img src="https://ss.bestjobs.eu/img/flags/pl.png" class="flag">
                                                <small>PL</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/hu/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="maghiară">
                                                <img src="https://ss.bestjobs.eu/img/flags/hu.png" class="flag">
                                                <small>HU</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/it/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="italiană">
                                                <img src="https://ss.bestjobs.eu/img/flags/it.png" class="flag">
                                                <small>IT</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/de/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="germană">
                                                <img src="https://ss.bestjobs.eu/img/flags/de.png" class="flag">
                                                <small>DE</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/fr/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="franceză">
                                                <img src="https://ss.bestjobs.eu/img/flags/fr.png" class="flag">
                                                <small>FR</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/sr/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="sârbă">
                                                <img src="https://ss.bestjobs.eu/img/flags/sr.png" class="flag">
                                                <small>SR</small>
                                            </a>
                                        </li>
                                        <li class="text-lg-left text-center">
                                            <a href="https://www.bestjobs.eu/es/landing/aplicanti-garantati" data-toggle="tooltip" data-placement="left" title="" data-original-title="spaniolă">
                                                <img src="https://ss.bestjobs.eu/img/flags/es.png" class="flag">
                                                <small>ES</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                </div>

                            <div class="social">
                                <Form name = "socialM" Method = "Post" >

                                    <a href="http://twitter.com/BestJobsRo"  class="btn btn-twitter navbar-btn"
                                       data-toggle="tooltip" title="" data-original-title="Urmareste-ne pe Twitter"
                                       id="id_social_media_links">
                                        <i class="fab fa-fw fa-lg fa-twitter"></i>
                                    </a>
                                    <a href="www.youtube.com/user/BestJobsRecrutare"target="_blank"
                                       class="btn btn-youtube navbar-btn" data-toggle="tooltip" title=""
                                       data-original-title="Urmareste-ne pe YouTube" id="id_social_media_links">
                                        <i class="fab fa-fw fa-lg fa-youtube-square"></i>
                                    </a>
                                    <a href="www.facebook.com"id="facebook"target="_blank"
                                       class="btn btn-facebook navbar-btn" data-toggle="tooltip" title=""
                                       data-original-title="Urmareste-ne pe Facebook" id="id_social_media_links">
                                        <i class="fab fa-fw fa-lg fa-facebook-square"></i>
                                    </a>
                                    <a href="wwww.linkedin.com" id="linkedin"target="_blank"
                                       class="btn btn-linkedin navbar-btn" data-toggle="tooltip" title=""
                                       data-original-title="Urmareste-ne pe Linkedin" id="id_social_media_links">
                                        <i class="fab fa-fw fa-lg fa-linkedin"></i>
                                    </a>
                                </Form>
                            </div>



                        </footer>

                    </div>



                </div>

    </Form>

</div>



{% endblock %}