{% extends 'base.html.twig' %}
{% block body %}

<div id="containerM" class="container" >

    <div id="headerJob" class="container">

        <div id ="image" class="image">
             <img src="https://ss.bestjobs.eu/img/bestjobs-logo.png" alt="Bestjobs" id="logoBestJobs">
        </div>
        <div id="btn" class="btn">
            <a href="/job/new" id = "jobs">
               adauga job
            </a>
        </div>

    </div>



</div>
{% endblock %}