{% extends 'base.html.twig' %}
{% block body %}

    <div class="row" id="row">

                {% for job in jobs %}
                    <div class="col-md-3" id="col-{{ loop.index }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ job.title }}</div>
                            <div class="panel-body">
                                <p  style="height: 70px; overflow: hidden">{{ job.description }}</p>
                            </div>
                            <div class="panel-footer" style="color:lightcoral"><i class="fas fa-map-marker-alt"></i> {{ job.locatie }}</div>
                        </div>
                    </div>
                {% endfor %}


            </div>



{% endblock %}